#pg-title {
    width: 100%;
}

#result-title {
    padding-bottom: 15px;
    padding-top: 15px;
}

#pg-title img{
    margin-top: 100px;
    width: 100%;
}

.a_link, .click-img, .click-thumb{
    cursor: pointer;
}

.cite{
    color: #006621;
}

#math_out {
    display: inline-block;
}

.click-img{
    max-height: 500px;
    max-width: 500px;
}

#spell-check-h4{
    color: #dd4b39;
}